<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
<link rel="shortcut icon" href="./images/hoodie" type="image/x-icon">
<link rel="stylesheet" href="./card.css"> <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <div id="cont">
        <div>
            <img src="./images/airdopes.jpg" alt="">
            <h3>airdopes</h3>
            <h4>free size</h4>
            <div class="pr"><h3>price:Rs.1500</h3>
            <h3>Rating:3.5</h3></div>
            <button>Add to cart</button>
        </div>
        <div>
            <img src="./images/mo" alt="">
            <h3>T-SHIRT</h3>
            <h4>M,L,XL</h4>
            <button>Add to cart</button>
        </div>
        <div>
            <img src="./images/watch" alt="">
            <h3>watch</h3>
            <h4>free size</h4>
            <button>Add to cart</button>
        </div>
    </div>
</main>
    
</body>
</html>