<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardstask</title>
    <link rel="stylesheet" href="./cardtask.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <div id="cont">
            <div>
                <img src="./images/hoodiem" alt="">
                <h3>Hooded Neck Sweatshirt</h3>
                <h4>size:M,L,XL,2XL</h4> 
                <div class="pr"><h3>price:Rs.600</h3>
                    <h3>Rating:3.1</h3></div>
                <button>Add to cart</button>
            </div>
            <div>
                <img src="./images/hoodiegg" alt="">
                <h3>Hooded Neck Sweatshirt</h3>
                <h4>Size:M,L,XL,2XL</h4>
                <div class="pr"><h3>price:Rs.500</h3>
                    <h3>Rating:3.7</h3></div>
                <button>Add to Cart</button>
            </div>
            <div>
                <img src="./images/sari2" alt="">
                <h3>Women's Kota Cotton Saree</h3>
                <h4>Size:M,L,XL,XL</h4>
                <div class="pr"><h3>price:Rs.1500</h3>
                    <h3>Rating:4.1</h3></div>
                <button>Add to cart</button>
            </div>
            <div>
                <img src="./images/frog.jpg" alt="">
                <h3>Gown With Duppta</h3>
                <h4>Size:M,L,XL,XL</h4>
                <div class="pr"><h3>price:Rs.2000</h3>
                    <h3>Rating:4.5</h3></div>
                <button>Add to cart</button>
            </div>
        </div>
    </main>
    
</body>
</html>