<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task3</title>
    <link rel="stylesheet" href="./task3.css">
</head>
<body>
    <nav>
        <div>
            <ul id="cont">
                <li><a href="#fd">Home</a></li>
                <li><a href="#main">Layout</a></li>
                <li id="drop"><a href="#">Services</a>
                <ul id="menu">
                <li><a href="#">Thane</a></li>
                <li><a href="#">Mumbai</a></li>
                <li><a href="#">Chennai</a></li>
            </ul>
                
                </li>
                
            </ul>
        </div>
    </nav>
    
</body>
</html>