body{
    background-color: rgb(236, 245, 245);
}
nav{
    background-color:yellow;
    border: 2px solid black;
}
#cont{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: blue;
    padding: 20px;
    display: block;
}
a:hover{
    background-color: rgb(250, 127, 191);
    color:white;
}
#menu{
    list-style-type:none;
    padding: 0px;
    position: absolute;
    /* position: relative; */
    /* top: 164px; */
    display: none;
}