<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./task4.css">
</head>
<body>
    <nav>
        <ul id="cont">
            <li><a href="#">Home</a></li>
            
            <li id="drop"><a href="#">Veg</a>
                <ul id="menu">
                    <li id="breakfast-drop"><a href="#">breakfast</a>
                        <ul id="breakfast-menu">
                            <li><a href="#">poha</a></li>
                            <li><a href="#">upama</a></li>
                            <li><a href="#">aalu-paratha</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#">dhokla</a></li>
                            <li><a href="#">fafpda</a></li>
                        </ul>
                    </li>
                    <li id="lunch-drop"><a href="#">Lunch</a></li>
                    <ul id="lunch-menu">
                        <li><a href="#">matar paneer</a></li>
                        <li><a href="#">rice dal</a></li>
                        <li><a href="#">daal bati</a></li>
                    </ul>

                    
                    <li><a href="#">Dinner</a></li>
                </ul>
            </li>

            <li><a href="#">Non-veg</a></li>
        </ul>
    </nav>
    
</body>
</html>