<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verticle</title>

    <link rel="stylesheet" href="vertical.css">

    <link rel="shortcut icon" href="./images/accenture.jpeg" type="image/x-icon">
</head>
<body>
    
    <nav>
        <ul id="cont">
            <li><a href="#">Home</a></li>
            
            <li id="drop"><a href="#">Mobile</a>
                <ul id="menu">
                    <li id="iphone-drop"><a href="#">iPhone</a>
                        <ul id="iphone-menu">
                            <li><a href="#">iPhone14</a></li>
                            <li><a href="#">iPhone15</a></li>
                        </ul>
                    </li>
<!-- 
                    <li><a href="#">iQOO</a></li>
                    <li><a href="#">redmi</a></li>
                    <li><a href="#">realmi</a></li>
                    <li><a href="#">OnePlus</a></li> -->
                </ul>
            </li>

            <li><a href="#">Laptop</a></li>
        </ul>
    </nav>

    <ul>
        <li>dhghhsdv</li> 
    </ul>
    

</body>
</html>